# Diccionarios

In [ ]:
Antonio = {"Antonio":[9.5, 1.76, 20, 1]}

In [ ]:
type(Antonio)

dict

In [ ]:
POO_UP = {"Antonio":[9.5, 1.76, 20, 1],
          "Alejandra": [9.2, 1.60, 21, 1],
          "Manuel":[9.2, 1.77, 21, 1],
          "Daniela":[9.3, 1.58, 21, 2],
          "Farca":[9.0, 1.72, 19,0],
          "sofia":[9.2, 1.75, 21, 1]}

In [ ]:
print(POO_UP)

{'Antonio': [9.5, 1.76, 20, 1], 'Alejandra': [9.2, 1.6, 21, 1], 'Manuel': [9.2, 1.77, 21, 1], 'Daniela': [9.3, 1.58, 21, 2], 'Farca': [9.0, 1.72, 19, 0], 'sofia': [9.2, 1.75, 21, 1]}

In [ ]:
# Importamos al modulo Pandas
import pandas as pd

In [ ]:
Alumnos = pd.DataFrame(POO_UP)
Alumnos

   Antonio  Alejandra  Manuel  Daniela  Farca  sofia
0     9.50        9.2    9.20     9.30   9.00   9.20
1     1.76        1.6    1.77     1.58   1.72   1.75
2    20.00       21.0   21.00    21.00  19.00  21.00
3     1.00        1.0    1.00     2.00   0.00   1.00

In [ ]:
type(Alumnos)

pandas.core.frame.DataFrame

In [ ]:
# Dimensión como objeto de Python
Alumnos.ndim

2

In [ ]:
# Ingresar a la columna que se llama farca
Alumnos["Farca"]

0     9.00
1     1.72
2    19.00
3     0.00
Name: Farca, dtype: float64

In [ ]:
type(Alumnos["Farca"])

pandas.core.series.Series

In [ ]:
# Ingresar por renglones
Alumnos.iloc[0]

Antonio      9.5
Alejandra    9.2
Manuel       9.2
Daniela      9.3
Farca        9.0
sofia        9.2
Name: 0, dtype: float64

In [ ]:
Alumnos.iloc[1]

Antonio      1.76
Alejandra    1.60
Manuel       1.77
Daniela      1.58
Farca        1.72
sofia        1.75
Name: 1, dtype: float64

In [ ]:
# Seccionar de la tabla determinados datos con [ x : x ]
# Rebana la base de datos del segundo renglon al tercero
Alumnos.iloc[1:3]

   Antonio  Alejandra  Manuel  Daniela  Farca  sofia
1     1.76        1.6    1.77     1.58   1.72   1.75
2    20.00       21.0   21.00    21.00  19.00  21.00

In [ ]:
# Seccionar de la tabla determinados datos con [[]]
Alumnos[["Farca","sofia"]]

   Farca  sofia
0   9.00   9.20
1   1.72   1.75
2  19.00  21.00
3   0.00   1.00



---

Tarea: subir una base de datos de 10x10 y subirla