# Introducción a Objetos
## Primeros Objetos

La Función que identifica el tipo de objeto es la función `type`

Las variables se escriben como sigue:

In [2]:
num=5

saludo ="Hola Mundo!"

In [3]:
print(num)

5

In [4]:
print(saludo)

Hola Mundo!

In [5]:
type(num)

int

In [6]:
type(saludo)

str

In [8]:
# El siguente codigo verifica si "num" y "saludo" sonobjetos iguales o diferentes.
# El resultado arroja un valor booleano.
type(num)==type(saludo)

False

In [9]:
# Convierte un int(entero) en flotante (con decimales)
float(num)

5.0

In [14]:
# Convierte "num" a satring y volvemos a declarar
num_s=str(num)
print(num_s)

5

In [13]:
type(num_s)==type(saludo)

True

In [16]:
# Funcion "range" es un conjunto donde pones un rango para crear indices
range(1,10)

range(1, 10)

In [20]:
# Vamos a mostrar los elementos de "range(10)"
# ya que python empieza en 0 siempre llega a un numero menos al del rango.
# para que este dentro del for tiene que haber una sangria.
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
# Para crear listas:
# Las listas se abren y cierran con corchetes.
# Los elementos pueden ser de cualquier tipo, cada elemento es un objeto.
lista_1=[1,"1", 1.0, [2,3]]

In [23]:
type(lista_1)

list

In [24]:
lista_2=[x for x in range(11)]
print(lista_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]